name: Update readme with latest activity

on:
  schedule:
    - cron: "0 */2 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'
      - run: npm install
      - name: Update header image
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        run: |-
          npm start
          if git diff --quiet behold-no-bg-latest.png; then
            echo "No changes to image, skipping commit"
            exit 0
          fi
          git config --global user.email "actions@users.noreply.github.com"
          git config --global user.name "README-bot"
          git add behold-no-bg-latest.png
          git commit -m "Updating readme's header image with the latest stats"
          git push

